body {
    margin: 0;
    height: 100vh; /* Sørger for at elementet fyller hele viewporten */
    background-image: radial-gradient(circle, #A9DCFF, #EDF7FF);
}

h1 {
    color: deeppink;
    text-align: center;
}

section {
    position: relative;
    height: 500px; 
}

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

img .road{
    bottom: 500px;
}

.background{
    z-index: 10;

}
.palm{
    position: relative;
    z-index: 5;
}





