@charset "UTF-8";


.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {

    z-index: 0;
    width: 100%;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    color: forestgreen;
    text-align: center;
    top: 7vh;
    text-align: center;
    position: relative;
    margin: 0;
    z-index: 20;
    font-family:poetsen one;
    font-size: 3vw;
}


.container {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    width: 100%;
}

.frame {
    height: 100vh;
background-color: skyblue;
    /* Each frame takes up the full height of the viewport */
}

.svg-container {
    position: relative;
    height: 100%;
}



.svg {
    position: absolute;

    &.background {
        z-index: 1;
        top: -38vw;
        
    }

    &.road {
        z-index: 9;
        top: -7vw;
        max-height: 71vw;
    }

    &.bushes {
        z-index: 11;
        top: 10vw;
        left: 17vw;
        max-width: 70vw;
    }

    &.palm {
        z-index: 10;
        top: -13vw;
        left: 22vw;
        max-width: 70vw;
    }

    &.clouds {
        z-index: 0;
        top: -15vw;
        max-width: 75vw;
        left: 8vw;
        animation: cloudFloat 20s infinite linear;
    }

    &.car {
        z-index: 12;
        top: 4vw;
        left: 17vw;
        max-width: 78vw;
        animation: carShake 2s infinite;

    }

    &.foreground {
        z-index: 11;
        top: -15vw;
    }

        &.background2 {
            z-index: 1;
            top: -38vw;
            
        }
    
        &.road2 {
            z-index: 9;
            top: -7vw;
            max-height: 71vw;
        }
    
        &.bushes2 {
            z-index: 11;
            top: 10vw;
            left: -9vw;
            max-width: 70vw;
        }
    
        &.palm2 {
            z-index: 10;
            top: -13vw;
            left: -8vw;
            max-width: 70vw;
        }
    
        &.clouds2 {
            z-index: 0;
            top: -15vw;
            max-width: 75vw;
            left: 8vw;
            animation: cloudFloat 20s infinite linear;
        }
    
        &.car2 {
            z-index: 12;
            top: 4vw;
            left: 17vw;
            max-width: 78vw;
            animation: carShake 2s infinite;
    
        }
    
        &.foreground2 {
            z-index: 11;
            top: -15vw;
    
            
       
    }
}


/** KEYFRAMES **/

@keyframes carShake {
    0% {
        transform: translateY(0);
    }

    10%,
    90% {
        transform: translateY(-2px);
    }

    20%,
    80% {
        transform: translateY(2px);
    }

    30%,
    70% {
        transform: translateY(-1px);
    }

    40%,
    60% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes carMoveRight {
    0% {
      transform: translateX(-20%) smooth 1s;
    }
    100% {
      transform: translateX(100%);
    }
  }
  

@keyframes cloudFloat {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5vw);
    }

    100% {
        transform: translateX(0);
    }
}